@font-face {
  font-family: "Karla-Variable";
  src: url("../assets/fonts/Karla-VariableFont_wght.ttf");
}

body {
  background-color: hsl(148, 38%, 91%);
  font-family: Karla-Variable;
}

.toast {
  position: fixed;
  top: -10%;
  left: calc(50vw - 210px);
  /* transform: translate(-50%, -50%); */
  width: 420px;
  max-height: 300px;
  background-color: #2a4244;
  color: #fff;
  vertical-align: center;
  padding: 8px;
  border-radius: 8px;
  display: none;
  z-index: 1;
}

.toast.show {
  /* visibility: visible; */
  display: block;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  max-height: 300px;
  background-color: #2a4244;
  color: #fff;
  /* vertical-align: center; */
  padding: 8px;
  border-radius: 8px;
  z-index: 2;
  /* -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s; */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    top: -10%;
    opacity: 0;
  }
  to {
    top: 10%;
    opacity: 1;
  }
}


@keyframes fadeout {
  from {
    top: 10%;
    opacity: 1;
  }
  to {
    top: -10%;
    opacity: 0;
  }
}

.toast > span {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.toast > p {
  margin: 0;
}

main {
  align-self: center;
  background-color: white;
  border-radius: 18px;
  padding: 24px;
  width: 500px;
  /* height: 570px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 580px) {
  main {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
  }
  .row-h {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .toast {
    left: calc(50vw - 90px);
    width: 180px;
  }
  .toast > p {
    display: none;
  }
}

.title {
  color: rgb(34, 34, 34);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.row-label {
  font-size: 16px;
  margin-bottom: 8px;
}

.radio-label {
  font-size: 18px;
  margin-left: 8px;
}

.checkbox-label {
  font-size: 16px;
  text-align: center;
}
.checkbox-input {
  accent-color: hsl(169, 82%, 27%);
}
.radio-input {
  accent-color: hsl(169, 82%, 27%);
}

.form-row {
  margin-bottom: 16px;
}

.row-h {
  display: flex;
  gap: 20px;
}
.row-h-consent {
  display: flex;
  gap: 10px;
}

.item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.radio-item {
  flex-grow: 1;
  display: flex;
  border: 1px solid rgb(34, 34, 34);
  justify-content: start;
  align-items: center;
  height: 40px;
  padding-left: 12px;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.text-input {
  border-radius: 8px;
  height: 40px;
  border-width: 1px;
  padding-left: 8px;
}
.textarea-input {
  border-radius: 8px;
  height: 80px;
  border-width: 1px;
  padding-left: 8px;
}

.submit-btn {
  background: hsl(169, 82%, 27%);
  color: #fff;
  border: none;
  width: 100%;
  height: 30px;
}

.form-error {
  font-size: 16px;
  margin-top: 8px;
  color: red;
}

.error {
  border-color: red;
  color: red;
}

.hov:hover {
  border-color: hsl(169, 82%, 27%);
}

.selected {
    border-color: hsl(169, 82%, 27%);
    background-color: #DEF0E7;
  }

/* text384646
#354545

Button
#0c7d69

Error
#996265 */
